@model CartViewModel

@*@model List<Product>*@

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@if (ViewBag.productsAdded != null)
{
    <div class="alert alert-info" role="alert">
        @ViewBag.productsAdded
    </div>
}

@if (Model != null && Model.Items.Any())
{
    <table class="table">
        <thead>
            <tr><th>Product</th><th>Price</th></tr>
        </thead>
        <tbody>
            @foreach (var p in Model.Items)
            {
                <tr>
                    <td>@p.ProductName</td>
                    <td>@p.UnitPrice?.ToString("n")</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr><th>Items Count</th><td>@Model.Count</td></tr>
            <tr><th>Items Total</th><td>@Model.Total.ToString("n")</td></tr>
        </tfoot>
    </table>
}
else
{
    <h3>Your cart is empty! 😮</h3>
}


@*@{
    var products = ViewBag.products as List<CartAddViewModel>;
    if (products != null)
    {
        foreach (var p in products)
        {
            @p.ProductId <br/>
        }
    }
}*@

@*<h1>@ViewBag.welcome</h1>



@if (Model != null && Model.Count > 0)
{
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.ProductName</li>
        }
    </ul>
}*@